<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My RSS reader</title>
  <meta name="description" content="RSS reader">
  <meta name="author" content="Víctor Peinado">
  <style>
    .even {
      color: green;
    }

    .odd {
      color: red;
    }
  </style>
</head>
<body>

<h1>My RSS reader</h1>

<h2>Lifehacker</h2>
<ul>
{% for item in items %}
  <li class="{{ loop.cycle('odd', 'even') }}">
    <p><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></p>
    <p>{{ item.text[:100] }}</a></p>
    <p>{% for entity in item.entities %}
      <a href="{{ entity[1] }}" target="_blank">{{ entity[0] }}</a>
    {% endfor %}</p>
  </li>
{% endfor %}
</ul>

</body>
</html>
